---
interface Props {
  node: any
}

const { node } = Astro.props
---

<!-- Blog Article -->
<div class="py-8">
  <div class="space-y-5 lg:space-y-8">
    <h2 class="text-3xl font-bold lg:text-5xl dark:text-white">{node.title}</h2>

    <div class="text-center w-full">
      <figure class="aspect-video w-full" transition:name=`post-image-${node.id}`>
        <img class="aspect-video w-full object-cover rounded-xl" src={node.featuredImage.node.mediaItemUrl} alt={node.title} />
      </figure>
    </div>

    <div
      class="text-neutral-800 dark:text-neutral-200 [&>p]:my-4 [&>h4]:text-2xl [&>h4]:my-4 [&>ul]:p-4 [&>ul]:border [&>ul]:border-gray-200 [&>ul]:dark:border-neutral-700 [&>ul]:rounded-lg [&>ul]:dark:bg-neutral-800 [&>ul]:dark:text-neutral-200 [&>ul>li]:my-4"
    >
      <Fragment set:html={node.content} />
    </div>
  </div>
</div>
<!-- End Blog Article -->
