---
interface Props {
  title: string
  uri: string
  image: string
  num: number
}

const { uri, title, image, num } = Astro.props
---

<!-- Card -->
<a class="group hover:bg-gray-100 rounded-xl p-5 transition-all dark:hover:bg-white/10" href={uri}>
  <div class="aspect-video">
    <img class="w-full aspect-video object-cover rounded-xl" src={image} alt={title} transition:name=`post-image-${num}` />
  </div>
  <h3 class="mt-5 text-xl text-gray-800 dark:text-neutral-300 dark:hover:text-white">{title}</h3>
  <p class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold text-gray-800 dark:text-neutral-200">
    Leer más
    <svg
      class="flex-shrink-0 size-4 transition ease-in-out group-hover:translate-x-1"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
    >
  </p>
</a>
<!-- End Card -->
