---
import { wpAPI } from "@/lib/api"

// Conectactamos con el API de WordPress para obtener los datos de la navegación
const data = await wpAPI({
  query: `{
    menus {
      nodes {
        menuItems {
          nodes {
            order
            title
            label
            uri
            childItems {
              nodes {
                uri
                title
                label
                parentId
              }
            }
            parentId
          }
        }
      }
    }
  }`
})

const menus = data.menus.nodes[0].menuItems.nodes // Obtenemos los elementos del menú que no tienen parentId
---

<div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block">
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-end sm:ps-7">
    {
      menus
        // Filtramos los elementos del menú que no tienen parentId
        .filter((menu: any) => !menu.parentId)
        .map((menu: any) => (
          <div class="hs-dropdown [--strategy:static] sm:[--strategy:fixed] [--adaptive:none] sm:[--trigger:hover] py-3 ps-px sm:px-3">
            {menu.childItems.nodes.length > 0 ? (
              <button
                type="button"
                class="flex items-center w-full text-gray-500 hover:text-gray-400 font-medium dark:text-neutral-400 dark:hover:text-neutral-500"
              >
                {menu.label}
                <svg
                  class="ms-2 size-2.5 text-gray-500 dark:text-neutral-500"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            ) : (
              <a class="py-3 ps-px sm:px-3 font-medium text-blue-600 dark:text-blue-500" href={menu.uri} aria-current="page">
                {menu.label}
              </a>
            )}

            {menu.childItems.nodes.length > 0 && (
              <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 sm:w-48 hidden z-10 bg-white sm:shadow-md rounded-lg p-2 dark:bg-neutral-800 sm:dark:border dark:border-neutral-700 dark:divide-neutral-700 before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5">
                {menu.childItems.nodes.map((child: any) => (
                  <a
                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300"
                    href={child.uri}
                  >
                    {child.label}
                  </a>
                ))}
              </div>
            )}
          </div>
        ))
    }
  </div>
</div>
